<div class="card card-product w-100">
    <div class="img-product bg-light">
        <img [src]="'assets/product/'+img" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h6 class="card-title fw-bold">{{nameProduct}}</h6>
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0 fw-semibold" style="font-size: 16px;">
                <span class="text-decoration-line-through text-gray-200 me-2">
                    {{priceOld | currency}}
                </span>
                {{price | currency}}

            </p>
            <button type="button" class="btn btn-light btn-cart px-2">
                <img src="assets/icon/cart.png" />
            </button>
        </div>
    </div>
</div>