/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {}

body {
    margin: 0;
    padding: 24px 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

:root {
    --orange-500: rgba(251, 146, 60, 1);
    --orange-400: rgb(255, 183, 124);
    --gray-700:  rgba(51, 51, 51, 1);
    --gray-500: rgba(144, 144, 144, 1);
    --gray-200: rgba(153, 153, 153, 1);
}

.btn-orange {
    background-color: var(--orange-500);
    color: #fff;

    &:hover {
        background-color: var(--orange-400);
        color: #fff;
    }
}

.btn-outline-orange{
    background-color: transparent;
    border: 1px solid var(--gray-700);
    &:hover{
        background-color: var(--orange-500);
        color: #fff;
    }
}

.text-link-orange {
    color: var(--orange-500);
    border-bottom: 1px solid var(--orange-500);
    &:hover {
        color: var(--orange-400);
    }
}
.text-gray-200{
    color: var(--gray-200);
}
.text-gray-500{
    color: var(--gray-500);
}

.fs-14{
    font-size: 14px;
}

.pd-16{
    padding: 16px,;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.hover-img{
    transition: 1s all;
    &:hover{
        transform: scale(1.05);
    }
}